.modal {
	position: fixed;
	z-index: 999;
	width: 100%;
	animation: pop-out 1s ease-in forwards;
	top: 40px;
	left: 0;
	bottom: 120px;

	.loader {
		background: url('../assets/gears.svg');
		width: 198px;
		height: 198px;
		margin-left: calc(50% - 96px);
		margin-top: 230px;
	}
}

@keyframes pop-out {
	from {  
    	background-color: white;
  	}  
  
  	to {  
    	background-color: #eae4db;
  	} 
}