.modal {
	position: fixed;
	z-index: 999;
	width: 100%;
	animation: pop-out 1s ease-in forwards;
	height: 100%;
	margin-top: -6px;
}

@keyframes pop-out {
	from {  
    	background-color: white;
  	}  
  
  	to {  
    	background-color: #eae4db;
  	} 
}