.product {
	display: inline-block;
	height: 300px;
	width: 200px;
	text-align: center;

	&_name {
		display: block;
	}

	&_image {
		display: block;
		width: 100%;
		height: 80%;
		background: url("../assets/ring-alt.gif") no-repeat center;
	}

	&_price {
		display: block;
	}
}