.product {
	display: inline-block;
	height: 300px;
	width: 200px;
	text-align: center;
	cursor: pointer;
	border-radius: 6px;
	transition: all 0.5s ease-in-out;

	&:hover {
		background-color: lightgrey;
	}

	&_name {
		display: block;
	}

	&_image {
		display: block;
		width: 100%;
		height: 80%;
		background: url("../assets/ring-alt.gif") no-repeat center;
	}

	&_price {
		display: block;
	}
}